{% extends "layout.html" %}
{% block title %}Quality Checks | {{ block.super }}{% endblock title %}

{% block header_block %}{% endblock %}

{% block content %}
<style>
code,
tt
{
    color: red;
}

h3:target
{
    background-color: #ff9;
    outline: 5px solid #ff9;
    color: #880;
}
</style>

<div id="staticpage" dir="ltr">

  <h1 class="title">Quality Checks</h1>

  <p>Pootle has an ability to check for common translation mistakes. Once you submit a translation, it will compare its certain features with the original string and identify potential problems. Сhecks are displayed in the upper right corner, just above the submit button. Once there are checks in red, you will stay on the same unit, until you have each check resolved or muted. Note that you should only mute checks if you know what you're doing. Muted checks will be reviewed periodically by the managers.</p>

  <p>If you are not sure what a particular error means and how to fix it properly, use "Report a problem with this string" link at the top of the unit. The managers will try to assist you ASAP.</p>

  <p>Pootle supports two different sets of checks: Evernote checks and Translate Toolkit checks. Below is the description of each quality check in those sets.</p>


  <h2>Evernote Checks</h2>

  {% include "checks/_evernote_descriptions.html" %}


  <h2>Translate Toolkit Checks</h2>

  {% include "checks/_ttk_descriptions.html" %}

</div>
{% endblock content %}
